<div id="viewer" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl mx-auto">
        <div class="modal-content bg-transparent">
            <div class="modal-body text-center p-0 loading">
                <div class="modal-loading text-center py-5"><span class="fa-solid fa-circle-notch fa-spin"></span></div>
                <img src="data:," class="img-fluid mx-auto" data-bs-dismiss="modal" alt="">
                <button type="button" class="modal-arrow left-arrow" data-rc-navigation="previous"></button>
                <button type="button" class="modal-arrow right-arrow" data-rc-navigation="next"></button>
            </div>
            <div class="modal-footer bg-footer d-block border-top-0">
                <div class="nav float-end ps-2 mb-0" data-bs-theme="dark">
                    <button type="button" data-rc-navigation="previous" class="fa-solid fa-circle-chevron-left nav-link previous p-0 pe-1"></button>
                    <button type="button" data-rc-navigation="next" class="fa-solid fa-circle-chevron-right nav-link next p-0"></button>
                    <button type="button" data-bs-dismiss="modal" class="fa-solid fa-circle-xmark nav-link p-0 ps-1"></button>
                </div>
                <p class="m-0"></p>
            </div>
        </div>
    </div>
</div>
