---
layout: default
title: Roundcube Webmail Screenshots
navtitle: Screenshots
scripts:
  - viewer
---
<h1>Impressions of Roundcube's User Interface</h1>

<p>Below are some screenshots of Roundcube in use. Additional skins are <a href="https://packagist.org/?type=roundcube-skin" class="rc-icon external-link" target="_blank">available on Packagist</a>. You can also <a href="https://github.com/roundcube/roundcubemail/wiki/Skins" class="rc-icon external-link" target="_blank">create your own skin</a> or <a href="https://github.com/roundcube/roundcubemail/wiki/Skins#extending-skins" class="rc-icon external-link" target="_blank">extend an existing skin</a> to make Roundcube look just right for you.</p>

{% for skin in site.data.screenshots %}
    {% assign dir = skin | first %}
    {% assign params = skin | last %}

    <h2 id="{{ dir }}" class="mb-0">{{ params.name }} <a class="anchor" href="#{{ dir }}" aria-label="Link to this section: {{ params.name }}"></a></h2>
    <span class="text-body-secondary mt-0">Author: {{ params.author }}</span>
    <p class="my-2">{{ params.desc }}</p>

    {% if params.devices.size > 1 %}
        <ul class="nav nav-tabs" role="tablist">
            {% for device in params.devices %}
                <li class="nav-item">
                    <a class="nav-link text-capitalize {% if forloop.first %} active {% endif %}" id="{{ dir }}-{{ device }}-tab" data-bs-toggle="tab" href="#{{ dir }}-{{ device }}" role="tab" aria-controls="{{ dir }}-{{ device }}" aria-selected="true">{{ device }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="tab-content">
        {% for device in params.devices %}
            <div class="tab-pane fade {% if forloop.first %} show active {% endif %}" id="{{ dir }}-{{ device }}" role="tabpanel" {% if params.devices.size > 1 %}aria-labelledby="{{ dir }}-{{ device }}-tab"{% endif %}>
                <ul id="screenshots-{{ dir }}-{{ device }}" class="screens p-0 w-100 mt-3">
                    {% for screenshot in params.screenshots %}
                        <li class="m-1 d-inline-block img-thumbnail"><a id="screenshots-{{ dir }}-{{ device }}-{{ forloop.index }}" class="d-inline-block text-center" href="#" title="{{ screenshot.title }}" data-bs-toggle="modal" data-bs-target="#viewer"><img class="mx-auto" src="/screens/skins/{{ dir }}/{{ device }}/thumbs/{{ screenshot.file }}?g={{ params.generated }}" height="97" alt="{{ screenshot.title }}"></a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endfor %}

<p class="text-body-secondary mt-5">Note: The following plugins, distributed with Roundcube, were active when the screenshots where taken: acl, archive, enigma, help, managesieve, markasjunk, password, and vcard_attachments.</p>

{% include viewer.html %}
